// colors
$white = #fff
$black = #000

$selection-color = $white
$selection-bg-color = #ea5454cc

$textColor = #343a40
$codeBgColor = #282c34

$border-color = #eaeaea
$divider-color = #eaeaea

$grid-columns = 12
$grid-breakpoints = {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}

$container-max-widths = {
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
}

$font-family-base = "Source Han Sans CN", "等线", "微软雅黑", -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-family-monospace = "Microsoft YaHei Hybrid", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
$font-size-base = 14px
$line-height-base = 1.5

$link-color = #5490ea
$link-decoration = none
$link-hover-color = #4a9af6
$link-hover-decoration = none
